body {background-color:black;}
h1{color:grey;}
div.maindiv{background-color:white;
            font color:black;
            width:300px;
            padding:20px;
            border radius:25px;
            align-items:center}


